* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #EAECEF;
}

.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #E41827;
    padding: 7px 13%;
    align-content: center;
       
}

.toplogo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.logo img {
    width: 12rem;
    height: 35px; 
}

.Nig img {
    width: 7rem;
    height: 3vh;
   
}

.icondrop {
   
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.icon1 {
    font-size: 25px;
    color: #fff;
}

.icon2 {
    font-size: 15px;
    color: #fff;
}

#loginform {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-left: 100px;
    margin-bottom: 10px;
   
    
}

.formlogin {
    display: flex;
    align-items: center;
}

.formlogin input {
    padding: 12px 8px;
    margin-right: 5px;
    width: 14rem;
    background: #B60606;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.formlogin input::placeholder,
.formlogin2 input::placeholder {
    color: grey;
}

.formlogin label {
    color: #fff;
    font-size: 13px;
    background: #B60606;
    padding: 12px 8px;
   
}

.formlogin2 {
    display: flex;
    align-items: center;
}

.formlogin2 input {
    padding: 12px 8px;
    width: 10rem;
    background: #B60606;
    outline: none;
    border: none;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.formlogin2 .loginlabel {
    padding: 12px 16px;
    background: #7B0911;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn {
    width: 6rem;
    padding: 12px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
    align-items: center;
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .topnav {
        flex-direction: column;
        padding: 10px;
    }
    .formlogin input,
    .formlogin2 input {
        width: 100%;
    }
    .btn {
        width: 100%;
        margin-top: 10px;
    }
}

.HOT{
    background-color: #FAC111;
    color: #000;
    padding: 5px;
    font-size: 12px;
}
.links .selection{
    display: flex;
    justify-content: space-between;
    background-color: #E41827;
    padding: 7px 13%;
    color: white;
    cursor: pointer;
    
    
    
}
.links .selection :hover{
    border: 2px solid #B60606;
    background: #B60606;
    padding: 2px 1%;
    
   
}
.links .selection li{
    margin-bottom: 12px;
    font-weight: 500;
}
.secondlink ul{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 7px 13%;
    font-weight: lighter;
    cursor: pointer;
}
.secondlink ul li:hover{
    border-bottom: 2px solid #E41827;
}

/*HERO*/

.hero{
    width: 100%;
    max-height: 45vh;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(./asset/Sporty\ backk.jpg);
    background-size: contain;
    margin-top: 5px;
    padding: 7px 11%;
    color: #fff;
    display: flex;
    justify-content: space-around;
}
.popular{
    margin-top: 10px;

}
.popular h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
}
.popular ul li{
    font-size: 20px;
    margin-top: 8px;
    font-family: "Noto Sans Modi", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;

}
.images img{
    height: 43vh;
}

.smallform{
    margin-top: 15px;
}
.smallform h3{
    margin-bottom: 10px;
}
.smallform p{
    font-size: 15px;
    color: #2EE46A;
}
.instant{
    
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}
.instant input{
    padding: 10px 2%;
    margin-right: 5px;
    width: 14rem;
    height: 6vh;
    background: #fff;
    outline: none;
    border: none;
    color: #000;
} 
.instant input::placeholder{
    color: grey;
    margin-left: 10px;
    font-size: 15px;
} 
.instant label{
    align-content: center;
    color: #000;
    font-size: 15px; 
    background: #fff;
    padding: 7px 2%;
}   
.reg{
    width: 100%;
    padding: 10px 5px;
    background: #0D9737;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

/*--Main--*/

.mainimg{
    width: 100%;
    padding: 7px 12%;
    
}
.mainimg img{
    width: 100%;
    
}
.firstsec{
    width: 100%;
    max-height: 100vh;
    background: transparent;
    display: flex;
    padding: 7px 12%;
    justify-content: space-between;
}
.mainbody{
    border: 1px solid #B4B4B4;
    background-color: #FFFFFF;
    width: 73%;
    height: 47vh;
    
}
.firsthead{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 1.5%;
}
.Highlight{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.Highlight i{
    font-size: 30px;
    align-content: center;
    color: #0D9737;
}
.Highlight h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: lighter;
}
.printrefresh{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.print{
    gap: 10px;
    display: flex;
}
.print p{
    font-size: 15px;
}
.refresh{
    gap: 10px;
    display: flex;
}
.refresh p{
    font-size: 15px;
}
.mainlinks{
    display: flex;
    position: relative;
    justify-content: space-between;
    
}
.mainlinks2 ul{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 170%;
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 7%;
    font-size: 16px;
    cursor: pointer;
    
}
.mainlinks2 ul li:hover{
    border-bottom: 4px solid #0D9737;
    
}
.filterbox{
    display: flex;
    justify-content: left;
    width: 0%;
    border: 2px solid blue;
 
}
.countryclub{
    display: flex;
    position: relative;
    border-top: 1px solid #B4B4B4;
    border-bottom: 1px solid #B4B4B4;
}
.countryclub2{
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 7px;
    padding: 0 1.5%;
    height: 13vh;
    width: 100%;
    
    
    
}

.armenia{
    background-color: #F7F7F7;
    border: 1px solid #B4B4B4;
    align-content: center;
    padding: 5px 1%;
    cursor: pointer;
   
}
.armenia h2{
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
   
}
.armenia:hover{
    border: 3px solid #0D9737;
}

/*TABLE*/

.mytable{
    text-align: left;
    margin-top: 10px;
}
table{
    width: 100%;
    height: 10vh; 
}

th{

    border-bottom: 1px solid #B4B4B4;
    font-weight: lighter;
    padding: 5px 1%;
 

}
.love{
    font-size: 20px;
    font-weight: bold;
}
.love1{
    background-color: #0D9737;
    border: 1px solid #0D9737;
    border-radius: 5px 5px 5px 5px;
    border-right: 2px solid #fff;
    cursor: pointer;
}
.love1:hover{
    background-color: #32CE62;
}
td{
    padding: 7px 2%;
}

.gen{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.time p{
    color:  #B4B4B4;
}

.icon{
    display: flex;
    justify-content: right;
    width: 70%;
}
.icon i{
    margin-right: 10px;
    align-content: center;
    font-weight: bold;
}

.firstass{
  
    width: 25%;
    height: 50vh;
    background-color: #353A45;
}
.Bet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    padding: 10px 15%;
    margin-top: 10px;
    cursor: pointer;
}
.Bet .Line{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;    
    border-bottom: 4px solid #32CE62;
}
.Bet h3{
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;    
}

.RS{
    display: flex;
    gap: 10px;
    border: 2px solid #ffffff88;
    width: 38%;
    height: 3vh;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-left: 10px;
}
.real{
    border-radius:  15px;
    background: green;
    color: #fff;
    height: 2.5vh;
    width: 50%;
    align-content: center;
    

}
.sim{
    color: #fff;
    width: 30%;
}
.minibox{
    background-color: #fff;
    width: 92%;
    margin-left: 10px;
    margin-top: 10px;
    height: 35.5vh;
    padding: 20px 3%;
}
.frm{
    width: 100%;
    padding: 13px;
    margin-top: 10px;
}

.btnmini{
    width: 100%;
    padding: 13px;
    margin-top: 10px;
    color: #dcdee5;
}

.minitext{
    margin-top: 20px;
    font-size: 14px;
    color: #dcdee5;
}

/*another section*/
.Another{
    width: 100%;
    max-height: 100vh;
    background: transparent;
    display: flex;
    padding: 7px 12%;
    justify-content: space-between;
}

.livebet{
    width: 73%;
    height: 47vh;
    background-color: #1B1E25;  
    border: 1px solid #1B1E25;
}


.Anotherside{
    width: 25%;
    height: 50vh;
    background-color: #353A45;
}